*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
:root {
  padding:0px;
  margin:0px;
  font-family:'Courier New', Courier, monospace;
  color:black;
}
.container {
  width:100%;
  height:10%;
  background-color:grey;
}
.container .header {
  width:100%;
  height:100%;
  display:flex;
  justify-content: space-around;
  align-items:center;
  color:white;
  padding:.5em;
}
.container .header .input {
  width:300px;
  height:30px;
  display:flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding:1em;
}
.container .header .input #input {
  width:100%;
  margin-left:10px;
  padding:.2em;
  border:none;
  color:black;
  outline:none;
}
.container .header .input .search-icon{
  font-size: 20px;
  margin-top:5px;
  color:rgb(189, 188, 188);
}
.container .header button {
  width:100px;
  height:30px;
  background-color:white;
  box-shadow: 3px 5px 5px 0px rgba (0,0,0,0.52);
  color:rgb(228, 228, 228);
  border-radius:20px;
  font-size:20px;
  outline:none;
  border:none;
}
#tasks {
  width:100%;
  padding:2em;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.task {
  width:300px;
  height:150px;
  padding:1em .5em;
  text-align:left;
  background-color: rgb(201, 201, 201);
  margin-top:1em;
  margin-left:1em;
}
.task_header {
  width:100%;
  display:flex;
  flex-direction:column;
}
.task-footer {
  position:relative;
  top:40px;
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:center;
  background-color: black;
  color:white;
  padding:.5em;
}